img {
  width: 600px;
  display: block;
  margin: auto;
  margin-top: 30px;
}
footer {
  text-align: center;
  margin: 20px;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(102, 104, 104);
  font-size: 24px;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: azure;
}
body {
  background: burlywood;
}
p {
  font-size: 18px;
  text-align: center;
}
.wiki {
  color: rgb(102, 104, 104);
  text-decoration: none;
}

span {
  font-family: "Comforter Brush", cursive;
  font-size: 72px;
}
